.flex-box {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

/* Navbar */

.navbar {
  padding: 20px;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.navbar h1 {
  color: #f12345
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  padding: 6px;
}

/* Button */

.red button {
  background-color: red;
}

.green button {
  background-color: green;
}

/* New Quiz */

.new-quiz-box {
  flex-direction: column;
}
